@font-face {
font-family: 'Uni Sans Heavy';
src: url('../fonts/UniSansHeavy.eot');
src: url('../fonts/UniSansHeavy.eot?#iefix') format('embedded-opentype'),
url('../fonts/UniSansHeavy.woff') format('woff'),
url('../fonts/UniSansHeavy.ttf') format('truetype');
font-weight: normal;
font-style: normal;
}
@font-face {
			font-family: "BebasRegular";
			src: url("../fonts/BebasRegular.eot");
			src: url("../fonts/BebasRegular.eot?#iefix")format("embedded-opentype"),
			url("../fonts/BebasRegular.woff") format("woff"),
			url("../fonts/BebasRegular.ttf") format("truetype");
			font-style: normal;
			font-weight: normal;
	}

html {
  overflow: scroll;
}
body {
  width: 100vw;
  height: 100vh;
	overflow: hidden;
}

.welcome {
  display: flex;
  position: relative;
  width: 100vw;
  height: 100vh;
  background: #02071c;

}


.count{
  position: absolute;
  margin-top: 9vw;
  margin-left: 36vw;
	transform: rotate(45deg);
	height: 62px;
	weight: 50px;
	animation-fill-mode:forwards;
	animation-name: count;
	animation-duration: 5s;
}

@keyframes count {
from{
	opacity: 100%;
}
to{
	opacity: 0;
}
}

.sum{
  color: #06fcfc;
  font-size: 7vw;
  font-family: 'Uni Sans Heavy' ;
}

.ticket{
  color: #06fcfc;
  font-size: 4vw;
  font-family: 'Uni Sans Heavy';
	transform: rotate(45deg);
	animation-fill-mode:forwards;
	animation-name: ticket;
	animation-duration: 5s;
}

@keyframes ticket {
from{
	opacity: 100%;
}
to{
	opacity: 0;
}
}

.text{
  position: absolute;
  margin-left: 25vw;
  margin-top: 13.5vw;
	weight: 600px;
}

img{
  position: absolute;
  width: 20vw;
  transform: rotate(45deg);
}

.img1{
  margin-top: 36vw;
  margin-left: 55vw;
}
.img2{
  margin-top: 5vw;
  margin-left: 70vw;
}

.img3{
  margin-top: 27vw;
  margin-left: 25vw;
}

.img4{
  margin-top: 35vw;
  margin-left: 70vw;
}

.content{
  display: flex;
  position: relative;
  margin-top: 40px;
	margin-left: 220px;

}

.p1, .p2, .p3, .p4, .p5, .p6, .p7{
  position: absolute;
  font-size: 7.5vw;
  font-family: 'Uni Sans Heavy';
  transition: all 0.3s ease;

}
@keyframes anim {
from{
  margin-top: 11vw;
}
to{
  margin-top: 260px;
	margin-left: 440px;
	transform: rotate(0deg);
}
}

.p1{
	margin-top: 11vw;
	animation-duration: 5s;
	/* animation-name: anim; */
	margin-left: 0px;
	color: #02071c;
	text-shadow: 0 0 1px #06fcfc,0 0 1px #06fcfc,0 0 1px #06fcfc,0 0 1px #06fcfc,0 0 1px #06fcfc,0 0 1px #06fcfc,0 0 1px #06fcfc,0 0 1px #06fcfc;
	transform: rotate(45deg);
	animation-fill-mode:forwards;
}
.b {
  animation-name: anim;
}

@keyframes anim2 {
from{
  margin-top: 43.5vw;
  margin-left: 33vw;
}
to{
  margin-top: 160px;
	margin-left: 955px;
	transform: rotate(270deg);
}
}

.p2{
  margin-top: 43.5vw;
  animation-duration: 5s;
  animation-name: kg;
  margin-left: 33vw;
  color: #06fcfc;
	transform: rotate(45deg);
	animation-fill-mode:forwards;
}

.b2 {
  animation-name: anim2;
}

@keyframes anim3 {
from{
  margin-top: 30.3vw;
	margin-left: -9.3vw;
}
to{
  margin-left: -105px;
	transform: rotate(270deg);
	animation-fill-mode:forwards;

}
}

.p3{
  margin-top: 30.3vw;
  animation-duration: 5s;
  animation-name: p3;
  margin-left: -9.3vw;
	transform: rotate(45deg);
  color: #06fcfc;
	animation-fill-mode:forwards;
}

.b3 {
  animation-name: anim3;
}

@keyframes anim4 {
from{
  margin-top: 28vw;
	margin-left: 52vw;
}
to{
  margin-top: 450px;
	margin-left: 520px;
  transform: rotate(0deg);
}
}

.p4{
  margin-top: 28vw;
  animation-duration: 5s;
  margin-left: 52vw;
	color: #02071c;
	text-shadow: 0 0 1px #06fcfc,0 0 1px #06fcfc,0 0 1px #06fcfc,0 0 1px #06fcfc,0 0 1px #06fcfc,0 0 1px #06fcfc,0 0 1px #06fcfc,0 0 1px #06fcfc;
	transform: rotate(45deg);
	animation-fill-mode:forwards;
}

.b4 {
  animation-name: anim4;
}

@keyframes anim5 {
from{
  margin-top: 37.6vw;
	margin-left: -11.8vw;
	transform: rotate(45deg);
}
to{
  margin-top: 80px;
	margin-left: 80px;
  transform: rotate(0deg);
}
}

.p5{
  margin-top: 37.6vw;
  animation-duration: 5s;
  margin-left: -11.8vw;

	color: #02071c;
	text-shadow: 0 0 1px #ff00e7,0 0 1px #ff00e7,0 0 1px #ff00e7,0 0 1px #ff00e7,0 0 1px #ff00e7,0 0 1px #ff00e7,0 0 1px #ff00e7,0 0 1px #ff00e7;

	transform: rotate(45deg);
	animation-fill-mode:forwards;
}

.b5 {
  animation-name: anim5;
}

@keyframes anim6 {
from{
  margin-top: 21.7vw;
	margin-left: 170px;
	transform: rotate(-45deg);
}
to{
  margin-top: 360px;
	margin-left: 180px;
  transform: rotate(0deg);
}
}

.p6{
  margin-top: 21.7vw;
  animation-duration: 5s;
  margin-left: 170px;
  color: #ff00e7;
	transform: rotate(-45deg);
	animation-fill-mode:forwards;
}

.b6 {
  animation-name: anim6;
}

@keyframes anim7 {
from{
  margin-top: 9.9vw;
	margin-left: 41.8vw;
	transform: rotate(45deg);
}
to{
  margin-top: 565px;
	margin-left: 180px;
  transform: rotate(0deg);
}
}

.p7{
  margin-top: 9.9vw;
  animation-duration: 5s;
  margin-left: 41.8vw;
  color: #06fcfc;
	transform: rotate(45deg);
	animation-fill-mode:forwards;
}

.b7 {
  animation-name: anim7;
}

@keyframes anim8 {
from{
	margin-top: 6.5vw;
  margin-left: 65.5vw;
	transform: rotate(45deg);
}
to{
	margin-top: 495px;
  margin-left: 990px;
	transform: rotate(270deg);
}
}

/* .pp8{
  position: absolute;
  width: 120px;
  height: 200px;
  margin-top: 6.5vw;
  margin-left: 65.5vw;
  animation-duration: 5s;
	transform: rotate(45deg);
	animation-fill-mode:forwards;
} */
.p8{
	font-size: 1vw;
	font-family: 'BebasRegular';
	text-transform: uppercase;
	color: #06fcfc;
	animation-fill-mode:forwards;
	position: absolute;
  width: 120px;
  height: 200px;
  margin-top: 6.5vw;
  margin-left: 65.5vw;
  animation-duration: 5s;
	transform: rotate(45deg);
	animation-fill-mode:forwards;
}

.b8 {
  animation-name: anim8;
}


@keyframes anim9 {
from{
	margin-top: 30vw;
  margin-left: 47.8vw;
	transform: rotate(45deg);
}
to{
	margin-top: 80px;
  margin-left: 600px;
	transform: rotate(0deg);
}
}

/* .pp9{
  position: absolute;
  width: 400px;
  height: 100px;
  margin-top: 30vw;
  margin-left: 47.8vw;
  animation-duration: 5s;
	transform: rotate(45deg);
	animation-fill-mode:forwards;
	animation-name: pp9;
} */
.p9{
	font-size: 1.4vw;
	font-family: 'BebasRegular';
	text-transform: uppercase;
	color: #06fcfc;
	font-weight:lighter;
	animation-fill-mode:forwards;
	position: absolute;
  width: 400px;
  height: 100px;
  margin-top: 30vw;
  margin-left: 47.8vw;
  animation-duration: 5s;
	transform: rotate(45deg);
	animation-fill-mode:forwards;
	animation-name: pp9;
}

.b9 {
  animation-name: anim9;
}


@keyframes anim10 {
from{
	margin-top: 47.8vw;
  margin-left: 28.7vw;
	transform: rotate(45deg);
}
to{
	margin-top: 180px;
  margin-left: 180px;
	transform: rotate(0deg);
}
}

/* .pp10{
  position: absolute;
  width: 235px;
  height: 100px;
  margin-top: 47.8vw;
  margin-left: 28.7vw;
  animation-duration: 5s;
	transform: rotate(45deg);
	animation-fill-mode:forwards;
} */
.p10{
	font-size: 15px;
	font-family: 'BebasRegular';
	text-transform: uppercase;
	color: #06fcfc;
	font-weight:lighter;
	animation-fill-mode:forwards;
	position: absolute;
	width: 235px;
	height: 100px;
	margin-top: 47.8vw;
	margin-left: 28.7vw;
	animation-duration: 5s;
	transform: rotate(45deg);
	animation-fill-mode:forwards;
}

.b10 {
  animation-name: anim10;
}


@keyframes anim11 {
from{
	margin-top: 590px;
  margin-left: -160px;
	transform: rotate(45deg);
}
to{
	margin-top: 460px;
  margin-left: 185px;
	transform: rotate(0deg);
}
}

/* .pp11{
  position: absolute;
  width: 350px;
  height: 100px;
  margin-top: 590px;
  margin-left: -160px;
  animation-duration: 5s;
		transform: rotate(45deg);
	animation-fill-mode:forwards;
} */
.p11{
	font-size: 20px;
	font-family: 'BebasRegular';
	text-transform: uppercase;
	color: #06fcfc;
	font-weight:lighter;
	animation-fill-mode:forwards;
	position: absolute;
	width: 350px;
	height: 100px;
	margin-top: 590px;
	margin-left: -160px;
	animation-duration: 5s;
	transform: rotate(45deg);
	animation-fill-mode:forwards;
}

.b11 {
  animation-name: anim11;
}


@keyframes anim12 {
from{
	margin-top: 5.7vw;
  margin-left: 39.5vw;
	transform: rotate(45deg);
}
to{
	margin-top: 545px;
  margin-left: 690px;
	transform: rotate(0deg);
}
}

/* .pp12{
  position: absolute;
  width: 230px;
  height: 100px;
  margin-top: 5.7vw;
  margin-left: 39.5vw;
  animation-duration: 5s;
	text-align: right;
	line-height: 19px;
	transform: rotate(45deg);
	animation-fill-mode:forwards;
} */
.p12{
	font-size: 1.2vw;
	font-family: 'BebasRegular';
	text-transform: uppercase;
	color: #ff00e7;
	font-weight:lighter;
	animation-name: littletext;
	animation-fill-mode:forwards;
	position: absolute;
	width: 230px;
	height: 100px;
	margin-top: 5.7vw;
	margin-left: 39.5vw;
	animation-duration: 5s;
	text-align: right;
	line-height: 19px;
	transform: rotate(45deg);
	animation-fill-mode:forwards;
}

.b12 {
  animation-name: anim12;
}Ñ‹
